body {
    background-color: #F5F5F5;
    font-family: "Inter", sans-serif;
    color: #404040;
    font-size: 18px;
}

.p-16px {
    padding: 16px;
}

.p-12px {
    padding: 12px;
}

.p-8px {
    padding: 8px;
}

.p-6px {
    padding: 6px;
}

.border-grey {
    border: 1px solid grey;
}

.radius-8px {
    border-radius: 8px;
}

.font-bold {
    font-weight: bold;
}

.font-semibold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.font-regular {
    font-weight: 400;
}

.btn-sidebar {
    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
}

.btn-sidebar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.sosmed-icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.sosmed-icon-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.section-item {
    padding: 4px 8px;
    text-align: center;
    justify-self: center;
    text-transform: uppercase;
    font-weight: bold;
}

.section-text {
    font-size: 18px;
}

.section-pdt-16px {
    padding-top: 16px;
}

.svg-soft {
    width: 50px;
    height: 50px;
}

.img-size {
    width: 200px;
    height: 200px;
}

.img-size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}